.column {
  float: left;
  width: 33%;
  padding: 3px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
	position: relative;
	margin: 0 auto;
}

.header{
	position: absolute;
	top: 70%;
	right: 10%;
	width: 100%;
}
.hdr {
	text-align: center;
	display: inline-block;
	width: 33%;
	font-size: 150px;
	color: white;
  	padding: 3px;
}
